*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

/node-modules
/public/out/
/public/img/
/public/js/src.js
/public/js/src.min.js
/public/work-files.json

.DS_Store

/public/css/main.min.css
setup-and-workflow.md